.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    padding: 20px;
  }
  
  .about-content {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .about-text {
    flex: 1;
    padding: 40px;
    text-align: left;
  }
  
  .about-text h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  .about-text p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Match the container's background color */
    padding: 20px;
  }
  
  .about-illustration {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
    }
    
    .about-text, .about-image {
      flex: none;
      width: 100%;
    }
  }